@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gowun+Dodum&family=Patrick+Hand&display=swap');

*{box-sizing: border-box}
body {
  font-size:16px;
  margin:0;
  padding:0;
  background:url(../public/images/grid.jpg);
}

